* {margin: 0; padding: 0}

body{
	background:#73c2df;
	font-family: 'Open Sans', sans-serif;
}
fieldset {
    border: medium none !important;
    padding: 0;
    width: 100%;
}

/*decorative "log in" thing*/
.decor {
	margin: 0 auto;
	width: 150px;
	margin-top: 100px;
	margin-bottom: 100px;
}
.cube {
	background: none repeat scroll 0 0 #4d4d4d;
	box-shadow: -110px 0 0 0 rgba(0, 0, 0, 0.16), 110px 0 0 0 rgba(0, 0, 0, 0.16), 0 110px 0 0 rgba(0, 0, 0, 0.16), 0 -110px 0 0 rgba(0, 0, 0, 0.16);
	height: 100px;
	margin: 0 auto;
	position: relative;
    text-align: center;
    top: 31px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    z-index: -666;
}
.logintext {
	color:#73c2df;
	line-height: 100px;
	font-weight: bold;
	font-size: 20px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

/*form beginning*/
.main {width:318px; margin: 20px auto 0;}
.logintext::selection {color:#73c2df; background:#4d4d4d;}
.logintext::-moz-selection {color:#73c2df; background:#4d4d4d;}
.logintext::-webkit-selection {color:#73c2df; background:#4d4d4d;}
.btn {border:0; color:#FFFFFF; font-size: 21px; font-weight: bold;}
.btn:hover {cursor: pointer;}
.fields {display: inline-block; width: 206px; float:left;}
.field {
    border: 0 none;
    font-size: 17px;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    width: 176px;
}
.field:focus {outline: none;}
button:focus {outline: none;}
.send-btn {background: none repeat scroll 0 0 #df7373;
    border-bottom: 3px solid #883636;
    height: 113px;
    position: relative;
    top: -3px;
    width: 112px;
    -webkit-appearance: none;
}
.send-btn:active {
	top:0px;
	margin-bottom:3px;
	border-bottom: 0px;
	height: 110px;
}

.addit-btns {margin-top: 12px; margin-bottom: 20px;}
.forgot {clear: both; color: #4d4d4d; font-size: 12px; text-decoration: none;}
.forgot:hover {text-decoration: none; color: #883639;}

/*remember me*/
.remember {
    color: #4d4d4d;
    float: right;
    font-size: 12px;
    position: relative;
    top: 3px;
    width: 112px;
}
.remember label:hover {cursor: pointer; color: #883639;}
.remember label {
    display: block;
    float: none;
    padding-left: 24px;
    position: relative;
}
.remember input {display: none;}
.remember span {
    background: url("http://mikhailkorotkov.com/codepen/form2login/checkbox.png") no-repeat scroll 50% 100% rgba(0, 0, 0, 0);
    display: block;
    height: 26px;
    margin-top: -4px;
    position: absolute;
    text-align: center;
    width: 18px;
}
.check span {
    background: url("http://mikhailkorotkov.com/codepen/form2login/checkbox.png") no-repeat scroll 50% 1px rgba(0, 0, 0, 0);
}

/*social buttons*/
.social {
    color: #ffffff;
    overflow: auto;
    position: relative;
    text-align: center;
    width: 100%;
}
.social ul {list-style: none; padding: 0;}
.social ul li {float:left; margin-right: 10px; margin-bottom: 10px;}
.social ul li:nth-child(even) {margin-right: 0;}
.btn-social {width:154px; height:50px; color:#FFFFFF; border:0; font-size: 12px; -webkit-appearance: none;}
.btn-social:hover {cursor: pointer;}
.btn-social:active { border-bottom: 0px; height: 47px; margin-top:3px;}
.facebook-btn {background: #4e69a2; border-bottom: 3px solid #364a74}
.googleplus-btn {background: #df5c4c; border-bottom: 3px solid #b3493c}
.twitter-btn {background: #19b4f0; border-bottom: 3px solid #1594c5}
.heading {
    border-bottom: 1px solid #ffffff;
    margin-bottom: 20px;
    text-align: center;
}
.heading span {
	color: #FFFFFF;
	text-decoration: none;
    background: none repeat scroll 0 0 #73c2df;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    padding: 0 2px;
    position: relative;
    top: 11px;
}

.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

a:link {
    color: white;
}



/*one-purpose class*/
.margin10b {margin-bottom: 10px;}
.margin5b {margin-bottom: 5px;}