<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <title>FamiList : user sign in</title>
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">FamiList: sign in to your user account</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('signup_user') }}">Join this family</a></li>
                </ul>
            </div>
        </nav>


        <div class="container">
            <div class="row">
                {% if errorFlag == 1 %}
                    <div class="alert alert-warning" role="alert">
                        User doesn't exist in this family.
                    </div>
                {% endif %}
                {% if errorFlag == 2 %}
                    <div class="alert alert-warning" role="alert">
                        Incorrect password.
                    </div>
                {% endif %}

                <form action="{{ url_for('signin_user') }}" method="POST">
                  <div class="form-group">
                    <label for="userName">Usernames:</label>
                    <input class="form-control" id="userName" name="userName" placeholder="Enter your user name">
                  </div>
                  <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
                  </div>
                  <button type="submit" class="btn btn-success">Sign in</button>
                </form>
            </div>

        </div>

    </body>
</html>